.book-list {
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: #ff0000;
      color: #fff;
      border: none;
      cursor: pointer;
      padding: 5px 10px;
    }
  }
}
